/* Scrollable container */
.overflowContainer {
  overflow-x: scroll;
}

/* Custom scrollbar styling for WebKit browsers */
.overflowContainer::-webkit-scrollbar {
  width: 0; /* Set the width of the scrollbar */
  height: 5px;
  padding-top: 5px;
}

.overflowContainer::-webkit-scrollbar-track {
  background: transparent; /* Optional: background color for the track */
  border-radius: 10px; /* Rounded corners for the track */
}

.overflowContainer::-webkit-scrollbar-thumb {
  background-color: darkgrey; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 3px solid transparent; /* Optional: space around the thumb */
}

.overflowContainerY {
  overflow-y: scroll;
}

.overflowContainerY::-webkit-scrollbar {
  width: 0; /* Hide scrollbar for Chrome, Safari, and Opera */
}
