@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Karla", sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

input[type="checkbox"].form-checkbox:checked {
  accent-color: #bc9543;
}

.my-input::placeholder {
  /* font-weight: 400; */
  font-size: 14px;
}
@media screen and (min-width: 1024px) {
  .my-input::placeholder {
    /* font-weight: 400; */
    font-size: 13px;
  }
}
